In [115]:
import pandas as pd
import codecs

Считываем файлы

In [231]:
first = pd.read_csv("2.tmp",encoding='utf-8', sep='\n', header=None)
second = pd.read_csv("3.tmp", encoding='utf-8', sep='\n', header=None)
third = pd.read_csv("4.tmp", encoding='utf-8', sep='\n', header=None)

In [232]:
# переименовываем колонки
first.columns = ['line']
# добавляем колонку target - номер файла
first['target'] = [1]*len(first)
# отчищаем от значений NaN
first.dropna(inplace=True)
first.head()

                                                 line  target
0   Bag End先生的Bilbo Baggins先生宣布，他不久將以特別的輝煌的聚會慶祝他的第...       1
3   什麼，人們普遍相信，Bag End山充滿了寶藏的隧道。如果這還不夠名聲，那麼他也有長期的活力...       1
6   青年以及（著名地）無窮無盡的財富似乎是不公平的。他們說：“這將需要支付。” “這不是自然的，...       1
8   仍然與親屬（除了當然是薩克維爾 - 巴金斯）的訪問條件，他在貧窮和不重要的家庭的愛好中有許多...       1
30  ＃＃”你說得對，爸爸！“Gaffer說。 “不是巴剋土地的白蘭地酒在老森林裡生活，但他們似乎...       1

In [233]:
# то же самое проделываем с остальными файлами
second.columns = ['line']
second['target'] = [2]*len(second)
second.dropna(inplace=True)
second.head()

                                                 line  target
0   When Mr. Bilbo Baggins of Bag End announced th...       2
5    Bilbo was very rich and very peculiar, and had b       2
23                         ‘It will have to be paid f       2
26                   But so far trouble had not come;       2
35                                       The eldest o       2

In [234]:
third.columns = ['line']
third['target'] = [3]*len(third)
third.dropna(inplace=True)
third.head()

                                                line  target
0  Bag EndのBilbo Baggins氏は、18歳の誕生日を特別な壮大なパーティでまもな...       3
2  失踪と予期せぬ復帰以来、60年にわたりシャイアの驚異であった。彼が旅行から持ち帰った富は今や...       3
4  に信じられていました。それが名声のために十分でないならば、彼の長年の活力も驚くべきものでした...       3
5  かかりましたが、バギンズ氏にはほとんど影響がないようでした。 90歳で彼は50歳とほとんど同...       3
8  富を所有すべきであるということは不公平に思えました。 "それは支払われなければならないだろう...       3

In [237]:
data = pd.concat([first, second, third])
data.index= range(len(data))
data.head()

                                                line  target
0  Bag End先生的Bilbo Baggins先生宣布，他不久將以特別的輝煌的聚會慶祝他的第...       1
1  什麼，人們普遍相信，Bag End山充滿了寶藏的隧道。如果這還不夠名聲，那麼他也有長期的活力...       1
2  青年以及（著名地）無窮無盡的財富似乎是不公平的。他們說：“這將需要支付。” “這不是自然的，...       1
3  仍然與親屬（除了當然是薩克維爾 - 巴金斯）的訪問條件，他在貧窮和不重要的家庭的愛好中有許多...       1
4  ＃＃”你說得對，爸爸！“Gaffer說。 “不是巴剋土地的白蘭地酒在老森林裡生活，但他們似乎...       1